<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template5</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/template5.css">
</head>

<body>
    <!-- Макети -->
    <div class="header template_clearfix">
        <a href="../index.html" class="logo">Комплексна робота №1</a>
        <div class="header-right">
            <a href="../index.html">Макет 1</a>
            <a href="template2.html">Макет 2</a>
            <a href="template3.html">Макет 3</a>
            <a href="template4.html">Макет 4</a>
            <a href="template5.html">Макет 5</a>
        </div>
    </div>
    <!-- П'ятий макет -->
    <div class="fifth_template">
        <!-- Лого -->
        <div class="main_logo">
            <div class="logo_container">
                <img src="../assets/svg/leather-icon.svg" alt="Logo" class="logo5">
            </div>
            <div class="text_container">
                <p>LeatherCo</p>
                <h1>Стиль, що живе вічно.</h1>
            </div>
        </div>
        <!-- Рядок з зображеннями -->
        <div class="row">
            <div class="left">
                <img src="../assets/images/man-studio-creates-leather-ware.jpg" alt="img1" class="image">
                <div class="text">
                    <h2>Євгеній</h2>
                    <p>"Ми не просто виготовляємо вироби зі шкіри, ми створюємо історії, які залишаються з вами на все
                        життя."</p>
                </div>
            </div>

            <div class="right">
                <img src="../assets/images/woman-tailor-working-leather-fabric.jpg" alt="img2" class="image">
                <div class="text">
                    <h2>Катерина</h2>
                    <p>"Кожен наш продукт — це поєднання традицій та інновацій, в якому ми вкладаємо душу та
                        пристрасть."</p>
                </div>
            </div>
        </div>
        <!-- Пошта -->
        <div class="email_container">
            <input type="email" class="input_email" placeholder="Введіть email">
            <button class="button_email">Зареєструватися</button>
        </div>
        <!-- Футер -->
         <div class="footer">
            <address>
                <ul class="footer_box">
                    <li><a class="footer_text" href="tel:++380987589898">+380987589898</a></li>
                    <li><a class="footer_text" href="mailto">LeatherCo@gmail.com</a></li>
                    <li><a class="footer_text" href="https://maps.app.goo.gl/AGazLg27eHS9BgJ69" target="_blank">Ми на карті</a></li>
                </ul>

                <ul class="footer_box">
                    <li><a class="footer_text" href="" target="_blank">Політика конфедеційності</a></li>
                    <li><a class="footer_text" href="" target="_blank">FAQ (Часті питання)</a></li>
                    <li><a class="footer_text">©2024 LeatherCo - Всі дані захищені</a></li>
                </ul>

                <ul class="footer_box">
                    <li><a href="">
                        <img src="../assets/svg/icons8-facebook.svg" alt="logo" class="footer_svg">
                    </a></li>
                    <li><a href="">
                        <img src="../assets/svg/icons8-instagram.svg" alt="logo" class="footer_svg">
                    </a></li>
                    <li><a href="https://t.me/MrFlaiman" target="_blank">
                        <img src="../assets/svg/icons8-telegram-app.svg" alt="logo" class="footer_svg">
                    </a></li>
                </ul>
            </address>
         </div>
    </div>
</body>

</html>